.element {
  background: #f7ec7d;
  width: 75px;
  height: 200px;
  position: relative;
  top: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.element::after {
  content: "";
  width: 50px;
  height: 25px;
  position: absolute;
  inset: 0;
  left: 75px;
  top: 100px;
  background: #62306d;
  border-bottom-left-radius: 50px;
}
.element2 {
  background: #f7ec7d;
  width: 25px;
  height: 60px;
  left: 75px;
  position: absolute;
  top: 100px;
  z-index: -1;
}
.element::before {
  content: "";
  width: 200px;
  height: 75px;
  position: absolute;
  inset: 0;
  background-color: #f7ec7d;
  top: 125px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
body {
  background: #62306d;
  margin: 0;
}
